@model AadharSecureTravelIdentity.Models.CitizenViewModel

@{
    ViewBag.Title = "ProcessCitizenProfile";
    Layout = "~/Views/RTA/_RTALayout.cshtml";
}

<div class="container-fluid">
    <div class="row ml-0 font-weight-bold">LICENSE TEST SCHEDULE</div>
    <hr />

    Test scheduled for @Model.ReportingTime on @Model.ReportingDate
</div>
