<div class="row py-2 d-flex justify-content-center">Staff Registration!</div>
<hr />
<div class="row py-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">link1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">link2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">link3</a>
        </li>

    </ul>
</div>
<hr />
