@{
    ViewBag.Title = "AfterLogin";
}

<h2>Welcome!</h2>
<h3>Yeah! Great UI. I know</h3>

@if (Session["UserName"] != null)
{    
    <text>
    Welcome @Session["UserName"].ToString()
    </text>  
}
