<div class="row py-2 d-flex justify-content-center">Welcome Administrator!</div>
<hr />
<div class="row py-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("AdminIndex", "Admin")">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Change password</a>
        </li>
    </ul>
</div>
<hr />
<div class="row py-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
</div>
